/* home.component.css */
.educational-content {
    margin-top: 40px; /* Espace au-dessus du contenu éducatif */
    text-align: center; /* Centre le texte dans le contenu éducatif */
}

.educational-row {
    display: flex; /* Utilise Flexbox pour disposer l'image et le texte */
    align-items: center; /* Aligne verticalement les éléments */
    margin: 20px 0; /* Espace entre les lignes éducatives */
}

.educational-row.center {
    justify-content: center; /* Centre le contenu dans la ligne */
}

.educational-row.reverse {
    flex-direction: row-reverse; /* Inverse l'ordre pour les lignes alternées */
}

.educational-image {
    width: 200px; /* Largeur fixe pour les images éducatives */
    height: auto; /* Maintient les proportions des images */
    margin: 10px; /* Espace autour des images */
    border-radius: 8px; /* Coins arrondis pour les images */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre légère pour les images */
}

.educational-paragraph {
    font-family: 'Arial', sans-serif; /* Police pour les paragraphes */
    color: #333; /* Couleur du texte */
    max-width: 600px; /* Largeur maximale des paragraphes */
    margin: 0 20px; /* Espace autour des paragraphes */
    line-height: 1.6; /* Espacement entre les lignes */
    font-size: 18px; /* Taille de police agrandie */
}

.centered-title {
    font-size: 2.5em; /* Augmente la taille de la police */
    text-align: center; /* Centre le texte */
    font-weight: bold; /* Met le texte en gras */
    margin: 20px 0; /* Ajoute un espacement au-dessus et en dessous */
    color: red; /* Change la couleur du texte en rouge */
    text-transform: uppercase; /* Transforme le texte en majuscules */
    font-family: 'Arial', sans-serif; /* Change la police ici */
}


.header-image {
    display: block; /* Assure que l'image est un élément de bloc */
    margin-left: auto; /* Centre l'image horizontalement */
    margin-right: auto; /* Centre l'image horizontalement */
    max-width: 100%; /* Limite la largeur maximale à 100% de son conteneur */
    height: auto; /* Maintient les proportions de l'image */
}
