<nav class="navbar">
    <div class="navbar-container">
        <!-- Remplacer le texte par une image -->
       <!-- <img src="assets/44.png" alt="Food Rescue Management" class="navbar-logo" /> -->
        <br><br>
        <ul class="navbar-menu">
            <li class="navbar-item">
                <a routerLink="/centers" class="navbar-link">Centers</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/publication" class="navbar-link">Publication</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/waste" class="navbar-link">Waste</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/recycled-product" class="navbar-link">RecycledProduct</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/event" class="navbar-link"> Events</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/delivery-agence" class="navbar-link">DeliveryAgence</a>
            </li>
          
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
<br><br>
<footer class="footer">
    <div class="footer-container">
        <p class="footer-text">&copy; 2024 Food Rescue Management. All rights reserved.</p>
        <ul class="footer-links">
            <li><a href="/privacy-policy" class="footer-link">Privacy Policy</a></li>
            <li><a href="/terms-of-service" class="footer-link">Terms of Service</a></li>
            <li><a href="/contact" class="footer-link">Contact Us</a></li>
        </ul>
    </div>
</footer>