<div class="waste-container">
    <h1>List of Wastes</h1>
  
    <!-- Form for adding or editing a waste item -->
    <div class="waste-form">
      <h3>{{ selectedWaste ? 'Edit Waste' : 'Add New Waste' }}</h3>
      <form (ngSubmit)="selectedWaste ? updateWaste() : addWaste()">
        <input [(ngModel)]="selectedWaste ? selectedWaste.quantity : newWaste.quantity" name="quantity" type="number" placeholder="Quantity (kg)" required>
        <input [(ngModel)]="selectedWaste ? selectedWaste.collectionDate : newWaste.collectionDate" name="collectionDate" type="date" required>
        <input [(ngModel)]="selectedWaste ? selectedWaste.collectionLocation : newWaste.collectionLocation" name="collectionLocation" placeholder="Location" required>
  
        <button type="submit">{{ selectedWaste ? 'Update Waste' : 'Add Waste' }}</button>
        <button *ngIf="selectedWaste" type="button" (click)="cancelEdit()">Cancel</button>
      </form>
    </div>
  
    <!-- List of wastes -->
    <div *ngIf="wastes.length > 0; else noWastes">
      <div *ngFor="let waste of wastes" class="waste-card">
        <p><strong></strong> {{ waste.image }}</p>
        <p><strong>Quantity:</strong> {{ waste.quantity }} kg</p>
        <p><strong>Collection Date:</strong> {{ waste.collectionDate }}</p>
        <p><strong>Location:</strong> {{ waste.collectionLocation }}</p>
        
        <button (click)="editWaste(waste)">Edit</button>
        <!-- <button (click)="deleteWaste(wasteUri)">Delete</button> -->
      </div>
    </div>
  
    <ng-template #noWastes>
      <p>No waste records available.</p>
    </ng-template>
  </div>
  
